<table class="row footer"><!-- Begin Standard Lehman's Footer -->
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="center">
          <center>
          All products covered by our <a href="https://www.lehmans.com/" style="color:#E54B26" target="_blank"><strong>100% Guarantee</strong></a>
          <div block="editable" name="Product Content" description="Insert a description of the product." id="bannertext" key="bannertext" display="rich">Editable content blocks that are not modified will appear blank and surrounding content will be shifted accordingly. Try clicking the 'Show Preview' button to check it out and be sure to use an Inbox Preview for additional testing. To further customize this layout, you can copy the default template over to a custom one to edit the HTML.</div>
          <a href="https://www.lehmans.com/" title="lowerLogo" target="_blank"><img class="center" src="http://hosting-source.bm23.com/23433/public/smLogo.gif" width="100" height="42" style="display:block; width:100px;" border="0"></a><br>Call to order: %%!account_telephone%%<br><a style="color:#E54B26" href="https://www.lehmans.com/" target="_blank">www.lehmans.com</a><br>
          <a href="%%!manage_url%%" style="color:#E54B26">Manage Your Subscription</a><br>This shopping alert is sent to our valued email customers as a special courtesy.<br>If you prefer not to recieve future alerts, <a href="%%!unsubscribe_url%%" style="color:#E54B26">click here</a> to let us know.
          <div style="padding-top:10px;">%%!account_address%%</div>
          </center>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table><!--End Standard Lehman's Footer -->