<table class="row">
  <tr>
    <td class="wrapper" style="padding-left:10px;">

      <table class="three columns">
        <tr>
          <td>
          <div block="editable" name="Product Image" description="Image 140px wide" id="4grid1image" key="product1image" display="rich"><img src="http://placehold.it/140x140" width="140" height="140" /></div><br>
  <div block="editable" name="Product Content" description="Insert a description of the product." id="4grid1text" key="product1text" display="rich">Editable content blocks that are not modified will appear blank and surrounding content will be shifted accordingly.</div>
          
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
    <td class="wrapper">
      <table class="three columns">
        <tr>
          <td>
          <div block="editable" name="Product Image" description="Image 140px wide" id="4grid2image" key="product2image" display="rich"><img src="http://placehold.it/140x140" width="140" height="140" /></div><br>
  <div block="editable" name="Product Content" description="Insert a description of the product." id="4grid1text" key="product2text" display="rich">Editable content blocks that are not modified will appear blank and surrounding content will be shifted accordingly.</div>
          
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
    <td class="wrapper">

      <table class="three columns">
        <tr>
          <td>
          <div block="editable" name="Product Image" description="Image 140px wide" id="4grid3image" key="product3image" display="rich"><img src="http://placehold.it/140x140" width="140" height="140" /></div><br>
  <div block="editable" name="Product Content" description="Insert a description of the product." id="4grid1text" key="product3text" display="rich">Editable content blocks that are not modified will appear blank and surrounding content will be shifted accordingly.</div>
          
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
    <td class="wrapper last" style="padding-right:10px;">

      <table class="three columns">
        <tr>
          <td>
          <div block="editable" name="Product Image" description="Image 140px wide" id="4grid4image" key="product4image" display="rich"><img src="http://placehold.it/140x140" width="140" height="140" /></div><br>
  <div block="editable" name="Product Content" description="Insert a description of the product." id="4grid1text" key="product4text" display="rich">Editable content blocks that are not modified will appear blank and surrounding content will be shifted accordingly.</div>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>