<table class="row pre-header"> <!-- Begin Standard Lehman's Header -->
  <tr>
    <td>
      <table class="four columns">
        <tr>
          <td>
            <div block="1" key="prehead" name="preheader" description="Pre-Header" display="rich" style="padding-bottom:10px; font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:11px; color:#3C2014">Some sort of preheader</div>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
    <td class="wrapper offset-by-four last">
      <table class="four columns">
        <tr>
          <td>
            <a style="color:#3C2014" href="%%!message_url%%">View online version here.</a>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="row header">
  <tr>
    <td class="wrapper">
      <table class="four columns">
        <tr>
          <td>
          <img src="http://newsletter.lehmans.com/email/topBanner/logo.gif" width="207" height="87" hspace="5" border="0" style="display:block; max-width:100%; height:auto;">
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
    <td class="wrapper">
      <table class="four columns">
        <tr>
          <td style="padding:5px; color:#E54B26; font-family:Verdana, Geneva, sans-serif; font-size:12pt;">
            <strong>%%!account_telephone%%</strong>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
    <td class="wrapper last">
      <table class="four columns">
        <tr>
          <td style="padding:5px; font-family:Verdana, Geneva, sans-serif; font-size:12pt;color:#AAA;">
          <div block="editable" name="Special Benefit" description="Special Benefit" id="benefit" key="benefit" display="rich">Special Benefit</div>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table><!-- End Standard Lehman's Header -->